<div class="navbar">
   <i class="fas fa-home"></i>
   
   <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        //name
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
   
   <i class="fas fa-shopping-cart"></i>
</div>